body
{
	margin: 0px;
	padding: 0px;*/
	/*background: #2F1258;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
	font-weight: 300;
	color: #6c6c6c
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	
#header-wrapper
{
	background: #00274c;
}

#header
{
	position: relative;
	height: 100px;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{
	position: absolute;
	top: 1em;
	left: 1em;
	width: 100%;
}

#logo h1
{
	display: inline-block;
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: 700;
	color: #7a121c;
}

#logo a
{
	text-decoration: none;
	color: #e4e1df;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu
{
	position: absolute;
	right: 0;
	top: 2em;
}

#menu ul
{
	display: inline-block;
}

#menu li
{
	display: block;
	float: left;
	text-align: center;
}

#menu li a, #menu li span
{
	display: inline-block;
	margin-left: 0.50em;
	padding: 1em 1.5em;
	letter-spacing: 0.20em;
	text-decoration: none;
	font-size: 0.90em;
	font-weight: 600;
	text-transform: uppercase;
	outline: 0;
	color: #ffcb05;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
}

#menu .current_page_item a
{
	background: #ffcb05;
	color: #00274c;
}

#menu .icon
{
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

#header-featured
{
    height: 18em;
    background-image: url(../images/logo.png);
    background-position: center;
    background-size: auto 90%;
    background-repeat: no-repeat;
    margin-top: 10px;
}
