/* LIT Home Page */

.recent-news-date {
    font-size: 20px;
    font-style: italic;
}

.image-centered {
    display: block;
    margin: 0 auto;
    width: 60%;
    border-radius: 15px;
}

#about_lit {
    margin-top: 20px;
    float: left;
    width: 50%;
    text-align: justify;
}

#recent_news {
    margin-top: 20px;
    float: right;
    width: 50%;
}

p.lead {
    font-size: 17px;
}

p.lead-slim {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
}

p.lead-slim-indent {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  text-indent: 2em;
}

p.lead-slim-indent-bottom {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  text-indent: 2em;
}

#recent_news_heading {
    font-size: 30px;
}

/* LIT People Page */

.profile_pic {
    display: block;
    margin: 0 auto;
    width: 60%;
    border-radius: 15px;
    margin-bottom: 10px;
}

#people {
    text-align: center;
}

#copyright {
    clear: both;
}
