/* LIT Home Page */

.recent-news-date {
    font-size: 20px;
    font-style: italic;
}

.image-centered {
    display: block;
    margin: 0 auto;
    width: 60%;
    border-radius: 15px;
}

#about_lit {
    margin-top: 20px;
    float: left;
    width: 50%;
    text-align: justify;
}

#recent_news {
    margin-top: 20px;
    float: right;
    width: 50%;
}

p.lead {
    font-size: 17px;
}

p.lead-slim {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
}

p.lead-slim-indent {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  text-indent: 2em;
}

p.lead-slim-indent-bottom {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  text-indent: 2em;
}

#recent_news_heading {
    font-size: 30px;
}

/* LIT Projects Page */

#project-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto 0 auto;
    width: 70%;
}

#project-list li {
    border: 2px solid #797979;
    background-color: #e7e7e7;
    margin: 1em;
    padding: 1em;
    border-radius: 4px;
    
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    line-height: 1;
}

#project-list a {
    color: #000;
}

/* LIT Event Page */

#sub_navbar {
    background-color: transparent;
    display: table;
    margin: 0 auto;
    margin-bottom: 2em;
}

#sub_navbar_ul {
    min-width: 100%;
	list-style: none;
}

#sub_navbar_ul li {
    display: inline;
}

#sub_navbar_ul li.active {
    background-color: transparent;
}

/* LIT NLP Reading Group Page */

.centered {
    text-align: center;
}

.underlined {
    text-decoration: underline;
}

#reading-group-table {
    height: 415px;
    width: 878px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
}

#reading-group-table tr th, #reading-group-table tr td {
    padding: 1em 1em 1em 1em;
}

#reading-group-table tr {
    border-bottom: 1px solid #B8B8B8;
}

/* Girls Encoded Main Page */
#sponsors-heading {
    clear: both;
}

.girls_encoded_recent_news {
    background-color: #e7e7e7;
    border-radius: 15px;
}

/* Girls Encoded People Page */

.profile_pic {
    display: block;
    margin: 0 auto;
    width: 80%;
    border-radius: 15px;
}

#people {
    text-align: center;
}

#copyright {
    clear: both;
    margin-bottom: 30px;
}

/* Girls Encoded Sponsors Page */
#sponsors-heading {
    bottom-margin: 20px;
}