.recent-news-date {
    font-size: 20px;
    font-style: italic;
}

.image-centered {
    display: block;
    margin: 0 auto;
    width: 60%;
    border-radius: 15px;
}

#about_lit {
    margin-top: 20px;
    float: left;
    width: 50%;
    text-align: justify;
}

#recent_news {
    margin-top: 20px;
    float: right;
    width: 50%;
}

p.lead {
    font-size: 17px;
}

#recent_news_heading {
    font-size: 30px;
}